<%- include("header",{type:'create'}) %>
<div class="container">
    
            <% if( userEmail ) { %>

            <h2><%- title %></h2>
            <p>请去邮箱激活您的账号</p>
           
            <input type="hidden" value="<%- userEmail %>" id="hide_email">

            <button class="active">去激活</button>

            <% } else  {%>

            <h2>账号激活成功~</h2>

            <p>现在可以去登录网站发帖啦!!!!</p>


            <a href="/signin" class="active">去登录</a>


            <% } %>

</div>

<style>
.container{
    padding-top:50px;
    padding-left:30px;
    border:1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 450px;
}
button,a.active{
    display: block;
    margin-top:30px;
    margin-right:20px;
    width: 128px;
    padding: 5px 8px;
    line-height: 24px;
    background: #317ee7;
    color: #fff;
    border-radius: 5px;
    border: none;
}
</style>

<script>

    $(".active").click(function () {
            var uurl = $("#hide_email").val();
            uurl = gotoEmail(uurl);
            if (uurl != "") {
                window.open("http://"+uurl,"_blank");     
            } else {
               alert("抱歉!未找到对应的邮箱登录地址，请自己登录邮箱查看邮件");
            }
        });

        //功能：根据用户输入的Email跳转到相应的电子邮箱首页
        function gotoEmail($mail) {
            $t = $mail;
            $t = $t.toLowerCase();
            if ($t == '163.com') {
                return 'mail.163.com';
            } else if ($t == 'vip.163.com') {
                return 'vip.163.com';
            } else if ($t == '126.com') {
                return 'mail.126.com';
            } else if ($t == 'qq.com' || $t == 'vip.qq.com' || $t == 'foxmail.com') {
                return 'mail.qq.com';
            } else if ($t == 'gmail.com') {
                return 'mail.google.com';
            } else if ($t == 'sohu.com') {
                return 'mail.sohu.com';
            } else if ($t == 'tom.com') {
                return 'mail.tom.com';
            } else if ($t == 'vip.sina.com') {
                return 'vip.sina.com';
            } else if ($t == 'sina.com.cn' || $t == 'sina.com') {
                return 'mail.sina.com.cn';
            } else if ($t == 'tom.com') {
                return 'mail.tom.com';
            } else if ($t == 'yahoo.com.cn' || $t == 'yahoo.cn') {
                return 'mail.cn.yahoo.com';
            } else if ($t == 'tom.com') {
                return 'mail.tom.com';
            } else if ($t == 'yeah.net') {
                return 'www.yeah.net';
            } else if ($t == '21cn.com') {
                return 'mail.21cn.com';
            } else if ($t == 'hotmail.com') {
                return 'www.hotmail.com';
            } else if ($t == 'sogou.com') {
                return 'mail.sogou.com';
            } else if ($t == '188.com') {
                return 'www.188.com';
            } else if ($t == '139.com') {
                return 'mail.10086.cn';
            } else if ($t == '189.cn') {
                return 'webmail15.189.cn/webmail';
            } else if ($t == 'wo.com.cn') {
                return 'mail.wo.com.cn/smsmail';
            } else if ($t == '139.com') {
                return 'mail.10086.cn';
            } else {
                return '';
            }
        };

</script>