    
    <div id="footer">
            <p> 版权所有 翻版必究 power by pyb永不言败 2018~10</p>
            <p>
                本程序由
                <span><a href="https://901web.com" target="_blank">901web前端博客</a></span>
                练手项目，
                <span>程序:koa+nodejs+mysql+ejs</span>
                初识nodejs+koa练手项目测试用例
            </p>
    </div>

    </body>
</html>