<%- include("header",{type:''}) %>
    <div class="container">
       <form class="form create" method="post ">
        <h2>填写相关信息,重置您的登录密码:</h2>
            <div>
                <label>用户名：</label> 
               <input placeholder="用户名" type="text" name="name">
            </div>
            <div>
                <label>邮箱地址：</label> 
                <input placeholder="注册邮箱账号" type="text" name="email">
            </div>
            <div>
                <label>新密码：</label> 
                <input placeholder="请输入密码" class="password" type="password" name="password">
            </div>
            <div>
                <label>确认新密码：</label> 
                <input placeholder="请确认密码" class="repeatpass" type="password" name="repeatpass">
            </div>
            <div>
                <label>验证码：</label> 
                <input placeholder="请输入验证码" type="text" name="code" class="yzm">
                <img class="code" src="" alt=""><span style="margin-left:10px;color:red;vertical-align:18px;">(看不清,点击刷新下,验证码不区分大小写!)</span>
                <input type="hidden" value="" id="verify"/>
            </div>
            <div class="submit">提交</div>
            <p class="forgetpass">填写邮箱提交,密码将会发送到你的邮箱,请注意查收!</p>
        </form>     
    </div>

    <script>
        initVerify();
        function initVerify(){
            $.ajax({
            url: "/captchas",
            type: "GET",
            cache: false,
            success: function (msg) {
                $("#verify").val(msg.code.toLowerCase());
                $(".code").attr({src:msg.img})
                }
            })
        }
        $(".code").on('click',function(){
            initVerify();
        })
        $('.submit').click(function(){

            if($('input[name=name]').val().trim() == '') {
                fade('请输入用户名')
            }else if ($('input[name=email]').val().trim() == '') {
                fade('请输入注册的邮箱地址')
            } else if($('input[name=password]').val().trim() == ''){
                fade('请输入新的密码')
            } else if($('input[name=repeatpass]').val() != $('input[name=password]').val()) {
                fade('确认密码与新密码不一致')
            }else if($('input[name=code]').val().trim()!== $("#verify").val()){
                fade('验证码不正确')
            }
            else{
                console.log($('.form').serialize());
                $.ajax({
                    url: "/forgetpass",
                    data: {
                        name:$('input[name=name]').val(),
                        password:$('input[name=password]').val(),
                        email:$('input[name=email]').val(),
                        code:$('input[name=code]').val()
                    },
                    type: "POST",
                    cache: false,
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.code != 200) {
                            $('input').val('')
                            fade('填写信息有误,请核对~')
                        } else{
                            fade('密码修改成功!')
                            setTimeout(function(){
                                window.location.href = "/sigin"
                            },1500)                 
                        }
                    },
                    error: function () {
                        alert('异常');
                    }
                })          
            }
        })      
    </script>
