<% include header %>
	
	
	<div class="container">
		<form class="form create" method="post">
			<div>
				<label>用户名：</label> 
				<input placeholder="用户名" type="text" name="name">
			</div>
			<div>
				<label>密码：</label> 
				<input class="password" type="password" name="password">
			</div>
			<div>
				<label>重复密码：</label> 
				<input class="repeatpass" type="password" name="repeatpass">
			</div>
			<div class="submit">注册</div>
		</form>
		
	</div>
	<script>
		$('.submit').click(()=>{
			console.log($('.form').serialize())
			$.ajax({
	            url: "/signup",
	            data: $('.form').serialize(),
	            type: "POST",
	            cache: false,
	            dataType: 'json',
	            success: function (msg) {
	               if (msg.data == 1) {           		
	               		$('.error').text('用户名存在')
	               		$('input').val('')
	               		fade('.error')
	               }
	               else if (msg.data == 2){
	               		$('.error').text('请输入重复的密码')
	               		fade('.error')	               		
	               }
	               else if(msg.data == 3){
	               		$('.success').text('注册成功')
	               		fade('.success')
	               		setTimeout(()=>{
	               			window.location.href="/signin"	  
	               		},1000)
	               }
	            },
	            error: function () {
	                alert('异常');

	            }
	        })			
		})		
	</script>
<% include footer %>
